In [181]:
# Librerías

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import datasets
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
import pickle
import joblib

from sklearn import linear_model
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import Ridge
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

from sklearn.metrics import mean_squared_error

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler

from sklearn import preprocessing

In [182]:
# CSV EDA
df=pd.read_csv('competi_kaggle.csv')
df

,index_id,depth,table,x,y,z,color,clarity,city,cut,carat,price
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25,J,VS2,Kimberly,Premium,1.21,4268
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,63.0,57.0,4.35,4.38,2.75,H,VS2,Antwerp,Very Good,0.32,505
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,65.5,55.0,5.62,5.53,3.65,G,VS1,London,Fair,0.71,2686
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,63.8,56.0,4.68,4.72,3.00,D,SI1,New York City,Good,0.41,738
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60.5,59.0,6.55,6.51,3.95,G,SI1,Dubai,Ideal,1.02,4882
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,62.7,57.0,7.10,7.04,4.43,G,VS1,New York City,Ideal,1.34,10070
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,57.1,60.0,8.31,8.25,4.73,F,SI2,Zurich,Good,2.02,12615
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,62.7,56.0,6.37,6.42,4.01,H,SI1,Tel Aviv,Ideal,1.01,5457
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,61.9,54.3,4.45,4.47,2.76,J,VS1,Paris,Ideal,0.33,456
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,62.0,58.0,6.83,6.88,4.25,I,SI1,Antwerp,Ideal,1.24,6232

In [183]:
#df ['price'] = df["price"].astype("float64")

In [184]:
# Volume
#df['volume']=df['x']*df['y']*df['z']

In [185]:
# Hypotetic Price
#df['hp']=(df['x']*df['y']*df['z'])*df['carat']

In [186]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index_id  40455 non-null  object
 1   depth     40455 non-null  float64
 2   table     40455 non-null  float64
 3   x         40455 non-null  float64
 4   y         40455 non-null  float64
 5   z         40455 non-null  float64
 6   color     40455 non-null  object
 7   clarity   40455 non-null  object
 8   city      40455 non-null  object
 9   cut       40455 non-null  object
 10  carat     40455 non-null  float64
 11  price     40455 non-null  int64
dtypes: float64(6), int64(1), object(5)
memory usage: 3.7+ MB

In [187]:
X = df[['depth', 'table','color', 'clarity','x', 'y', 'z',  'cut', 'carat']]
X

       depth  table color clarity     x     y     z        cut  carat
0       62.4   58.0     J     VS2  6.83  6.79  4.25    Premium   1.21
1       63.0   57.0     H     VS2  4.35  4.38  2.75  Very Good   0.32
2       65.5   55.0     G     VS1  5.62  5.53  3.65       Fair   0.71
3       63.8   56.0     D     SI1  4.68  4.72  3.00       Good   0.41
4       60.5   59.0     G     SI1  6.55  6.51  3.95      Ideal   1.02
...      ...    ...   ...     ...   ...   ...   ...        ...    ...
40450   62.7   57.0     G     VS1  7.10  7.04  4.43      Ideal   1.34
40451   57.1   60.0     F     SI2  8.31  8.25  4.73       Good   2.02
40452   62.7   56.0     H     SI1  6.37  6.42  4.01      Ideal   1.01
40453   61.9   54.3     J     VS1  4.45  4.47  2.76      Ideal   0.33
40454   62.0   58.0     I     SI1  6.83  6.88  4.25      Ideal   1.24

[40455 rows x 9 columns]

In [188]:
y = df[['price']]
y

       price
0       4268
1        505
2       2686
3        738
4       4882
...      ...
40450  10070
40451  12615
40452   5457
40453    456
40454   6232

[40455 rows x 1 columns]

## Encoding

In [189]:
# One hot encoding
#cat_cols = [ 'color','clarity', 'cut' ]
#df_one_hot = pd.get_dummies(X, columns=cat_cols, drop_first=True)
#df_one_hot

In [190]:
# Label Encoding
cat_cols = [ 'color','clarity', 'cut' ]
cat_list = []
for col in cat_cols:
    cat = X[col].unique()
    cat_num = len(cat)
    cat_dict= {"categorical_variable":col,
                "number_of_possible_values":cat_num,
                "values":cat}
    cat_list.append(cat_dict)
    
cat_df = pd.DataFrame(cat_list).sort_values(by="number_of_possible_values",
                                                ascending=False).reset_index(drop=True)
cat_df

,categorical_variable,number_of_possible_values,values
0,clarity,8,"[VS2, VS1, SI1, SI2, IF, VVS1, VVS2, I1]"
1,color,7,"[J, H, G, D, F, E, I]"
2,cut,5,"[Premium, Very Good, Fair, Good, Ideal]"

In [191]:
encoding_clarity = {'VS2':1, 'VS1':2, 'SI1':3, ' SI2':4, 'IF':5, 'VVS1':6, 'VVS2':7, ' I1':8}
#encoding = {'J':0,'H':1,'G':2, 'D':3, 'F':4, 'E':5, 'I':6 },
#encofing = {'Premium':0, 'Very Good':1, 'Fair':2, 'Good':3, 'Ideal':4}
def ordinal_encoding_clarity(x):
    for key in encoding_clarity:
        if x == key:
            return encoding_clarity[key]

In [192]:
#encoding = {'VS2':1, 'VS1':2, 'SI1':3, ' SI2':4, 'IF':5, 'VVS1':6, 'VVS2':7, ' I1':8}
encoding_color = {'J':1,'H':2,'G':3, 'D':4, 'F':5, 'E':6, 'I':7}
#encoding = {'Premium':1, 'Very Good':1, 'Fair':2, 'Good':3, 'Ideal':4}
def ordinal_encoding_color(x):
    for key in encoding_color:
        if x == key:
            return encoding_color[key]

In [193]:
#encoding = {'VS2':1, 'VS1':2, 'SI1':3, ' SI2':4, 'IF':5, 'VVS1':6, 'VVS2':7, ' I1':8}
#encoding = {'J':0,'H':1,'G':2, 'D':3, 'F':4, 'E':5, 'I':6 }
encoding_cut = {'Premium':1, 'Very Good':2, 'Fair':3, 'Good':4, 'Ideal':5}
def ordinal_encoding_cut(x):
    for key in encoding_cut:
        if x == key:
            return encoding_cut[key]

In [194]:
X['num_clarity']=X['clarity'].apply(ordinal_encoding_clarity)
X['num_color']=X['color'].apply(ordinal_encoding_color)
X['num_cut']=X['cut'].apply(ordinal_encoding_cut)
X.info()

#titanic_enconded['Embarked_num'] = titanic_enconded['Embarked'].apply(ordinal_encoding)
#titanic_enconded

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   depth        40455 non-null  float64
 1   table        40455 non-null  float64
 2   color        40455 non-null  object
 3   clarity      40455 non-null  object
 4   x            40455 non-null  float64
 5   y            40455 non-null  float64
 6   z            40455 non-null  float64
 7   cut          40455 non-null  object
 8   carat        40455 non-null  float64
 9   num_clarity  32963 non-null  float64
 10  num_color    40455 non-null  int64
 11  num_cut      40455 non-null  int64
dtypes: float64(7), int64(2), object(3)
memory usage: 3.7+ MB

C:\Users\abarr\AppData\Local\Temp\ipykernel_720\3545258951.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['num_clarity']=X['clarity'].apply(ordinal_encoding_clarity)
C:\Users\abarr\AppData\Local\Temp\ipykernel_720\3545258951.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['num_color']=X['color'].apply(ordinal_encoding_color)

In [195]:
X_code=X.dropna(inplace=True)

In [196]:
X_code=X.drop(['color','clarity','cut'], axis=1, inplace=True)

In [197]:
X_code.info()

AttributeError: 'NoneType' object has no attribute 'info'

## Scaling

In [123]:
# Scaling Standard
scaler = StandardScaler()
#scaled_data = scaler.fit_transform(df_one_hot)
scaled_data = scaler.fit_transform(X)
scaled_data

#MinMax Scaler
#scaler = MinMaxScaler()
#scaled_data = scaler.fit_transform(df_one_hot[['depth', 'table','carat']])
#scaled_data

# Robust Scaling
#scaler = RobustScaler()
#scaled_data = scaler.fit_transform(df_one_hot[['depth', 'table','carat']])
#scaled_data

array([[ 0.50520963,  0.30297717,  1.17419377, ..., -1.01603585,
        -1.80335771, -1.30725701],
       [ 0.95707986, -0.15282503, -1.13453475, ..., -1.01603585,
        -1.23182398, -0.72312123],
       [ 2.83987245, -1.06442944,  0.04775768, ..., -0.52012863,
        -0.66029025, -0.13898544],
       ...,
       [ 0.73114475, -0.60862724,  0.74596187, ..., -0.02422142,
        -1.23182398,  1.02928614],
       [ 0.12865112, -1.38349098, -1.04144086, ..., -0.52012863,
        -1.80335771,  1.02928614],
       [ 0.20396282,  0.30297717,  1.17419377, ..., -0.02422142,
         1.62584467,  1.02928614]])

In [124]:
#df_X=pd.DataFrame(scaled_data)
#df_X

In [125]:
%%time

# Model definition

#model = LinearRegression()
model = (RandomForestRegressor(bootstrap=True, random_state = 42))
#model = linear_model.Lasso()
#model = ElasticNet()
#model = Ridge()
#model = SVR()
#model = SGDRegressor()
#model = DecisionTreeRegressor()


hyperparameters = model.get_params()



print(type(model), '\n')
print('Model hyperparameters:', hyperparameters, '\n')

<class 'sklearn.ensemble._forest.RandomForestRegressor'>

Model hyperparameters: {'bootstrap': True, 'ccp_alpha': 0.0, 'criterion': 'squared_error', 'max_depth': None, 'max_features': 1.0, 'max_leaf_nodes': None, 'max_samples': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'n_estimators': 100, 'n_jobs': None, 'oob_score': False, 'random_state': 42, 'verbose': 0, 'warm_start': False}

CPU times: total: 0 ns
Wall time: 997 µs

In [149]:
%%time

# Model training

#model.model_transform(df_X, y)

model.fit(df_X, y)
#y_pred = model.predict(y)

print('Model:', model, '\n')
print('Model hyperparameters:', hyperparameters, '\n')
#print('Model coefficients:', model.coef_, '\n')
#print('Ground truth target:', y_test, '\n')
#print('Ground truth target:', y_pred, '\n')

ValueError: Found input variables with inconsistent numbers of samples: [32963, 40455]

## Mediciones

In [127]:
# Train and test split

X_train, X_test, y_train, y_test = train_test_split(df_X, y, test_size=0.2, random_state=42)
print(f"X_train: {X_train.shape}, X_test: {X_test.shape}, y_train: {y_train.shape}, y_test: {y_test.shape}")

ValueError: Found input variables with inconsistent numbers of samples: [32963, 40455]

In [128]:
y_pred = model.predict(X_test)

NameError: name 'X_test' is not defined

In [ ]:
# MSE calculation

mean_squared_error(y_test, y_pred)

In [ ]:
# RMSE calculation 

rmse = mean_squared_error(y_test, y_pred, squared=False)
rmse

In [ ]:
#Nota: 234

## Visualitation

In [ ]:
#plt.subplots(figsize = (10,8))
#sns.heatmap(df_X, annot = True, cmap = "Blues")
#plt.show()

## Kaggle

In [ ]:
# CSV diamonds_test Kaggle
df_K=pd.read_csv('./diamonds_test.csv')
df_K

In [ ]:
X_K = df_K[['depth', 'table','color', 'clarity','x','y','z','cut']]
X_K

In [ ]:
# One hot encoding
cat_cols = [ 'color','clarity', 'cut' ]
df_one_hot_K = pd.get_dummies(X_K, columns=cat_cols, drop_first=True)
df_one_hot_K

In [ ]:
# Scaling columnas numéricas
scaler = StandardScaler()
scaled_data_K = scaler.fit_transform(df_one_hot_K)
scaled_data_K

In [ ]:
df_X_K=pd.DataFrame(scaled_data_K)
df_X_K

In [ ]:
# Model predictions

#predictions = model.predict(df_Diamond_test)
y_pred = model.predict(df_X_K)

print(type(y_pred))

In [ ]:
y_pred

In [ ]:
df_predictions = pd.DataFrame(y_pred, columns=['price']).reset_index()
df_predictions

In [ ]:
df_predictions['id']=df_predictions.index
df_predictions

In [ ]:
df_predictions_d=df_predictions.drop('index', axis=1)
df_predictions_d

In [ ]:
df_predictions_d.to_csv('train.csv', index=False)

In [ ]:
# Note: 1405 (train 14)