In [12]:
# Librerías

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import datasets
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
import pickle
import joblib

from sklearn import linear_model
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import Ridge
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

from sklearn.metrics import mean_squared_error

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler

from sklearn import preprocessing

In [13]:
# CSV EDA
df=pd.read_csv('competi_kaggle.csv')
df

,index_id,depth,table,x,y,z,color,clarity,city,cut,carat,price
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25,J,VS2,Kimberly,Premium,1.21,4268
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,63.0,57.0,4.35,4.38,2.75,H,VS2,Antwerp,Very Good,0.32,505
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,65.5,55.0,5.62,5.53,3.65,G,VS1,London,Fair,0.71,2686
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,63.8,56.0,4.68,4.72,3.00,D,SI1,New York City,Good,0.41,738
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60.5,59.0,6.55,6.51,3.95,G,SI1,Dubai,Ideal,1.02,4882
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,62.7,57.0,7.10,7.04,4.43,G,VS1,New York City,Ideal,1.34,10070
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,57.1,60.0,8.31,8.25,4.73,F,SI2,Zurich,Good,2.02,12615
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,62.7,56.0,6.37,6.42,4.01,H,SI1,Tel Aviv,Ideal,1.01,5457
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,61.9,54.3,4.45,4.47,2.76,J,VS1,Paris,Ideal,0.33,456
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,62.0,58.0,6.83,6.88,4.25,I,SI1,Antwerp,Ideal,1.24,6232

In [14]:
#df ['price'] = df["price"].astype("float64")

In [15]:
# Volume
#df['volume']=df['x']*df['y']*df['z']

In [16]:
# Hypotetic Price
#df['hp']=(df['x']*df['y']*df['z'])*df['carat']

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index_id  40455 non-null  object
 1   depth     40455 non-null  float64
 2   table     40455 non-null  float64
 3   x         40455 non-null  float64
 4   y         40455 non-null  float64
 5   z         40455 non-null  float64
 6   color     40455 non-null  object
 7   clarity   40455 non-null  object
 8   city      40455 non-null  object
 9   cut       40455 non-null  object
 10  carat     40455 non-null  float64
 11  price     40455 non-null  int64
dtypes: float64(6), int64(1), object(5)
memory usage: 3.7+ MB

In [18]:
X = df[['depth', 'table','color', 'clarity','x', 'y', 'z',  'cut', 'volume','hp', 'carat']]
X

KeyError: "['volume', 'hp'] not in index"

In [ ]:
y = df[['price']]
y

## Encoding

In [ ]:
# One hot encoding
#cat_cols = [ 'color','clarity', 'cut' ]
#df_one_hot = pd.get_dummies(X, columns=cat_cols, drop_first=True)
#df_one_hot

In [ ]:
# Label Encoding
cat_cols = [ 'color','clarity', 'cut' ]
cat_list = []
for col in cat_cols:
    cat = X[col].unique()
    cat_num = len(cat)
    cat_dict= {"categorical_variable":col,
                "number_of_possible_values":cat_num,
                "values":cat}
    cat_list.append(cat_dict)
    
cat_df = pd.DataFrame(cat_list).sort_values(by="number_of_possible_values",
                                                ascending=False).reset_index(drop=True)
cat_df

In [ ]:
encoding_clarity = {'VS2':1, 'VS1':2, 'SI1':3, ' SI2':4, 'IF':5, 'VVS1':6, 'VVS2':7, ' I1':8}
#encoding = {'J':0,'H':1,'G':2, 'D':3, 'F':4, 'E':5, 'I':6 },
#encofing = {'Premium':0, 'Very Good':1, 'Fair':2, 'Good':3, 'Ideal':4}
def ordinal_encoding_clarity(x):
    for key in encoding_clarity:
        if x == key:
            return encoding_clarity[key]

In [8]:
#encoding = {'VS2':1, 'VS1':2, 'SI1':3, ' SI2':4, 'IF':5, 'VVS1':6, 'VVS2':7, ' I1':8}
encoding_color = {'J':1,'H':2,'G':3, 'D':4, 'F':5, 'E':6, 'I':7}
#encoding = {'Premium':1, 'Very Good':1, 'Fair':2, 'Good':3, 'Ideal':4}
def ordinal_encoding_color(x):
    for key in encoding_color:
        if x == key:
            return encoding_color[key]

In [9]:
#encoding = {'VS2':1, 'VS1':2, 'SI1':3, ' SI2':4, 'IF':5, 'VVS1':6, 'VVS2':7, ' I1':8}
#encoding = {'J':0,'H':1,'G':2, 'D':3, 'F':4, 'E':5, 'I':6 }
encoding_cut = {'Premium':1, 'Very Good':2, 'Fair':3, 'Good':4, 'Ideal':5}
def ordinal_encoding_cut(x):
    for key in encoding_cut:
        if x == key:
            return encoding_cut[key]

In [10]:
X['num_clarity']=X['clarity'].apply(ordinal_encoding_clarity)
X['num_color']=X['color'].apply(ordinal_encoding_color)
X['num_cut']=X['cut'].apply(ordinal_encoding_cut)
X

#titanic_enconded['Embarked_num'] = titanic_enconded['Embarked'].apply(ordinal_encoding)
#titanic_enconded

NameError: name 'X' is not defined

In [11]:
X.dropna(inplace=True)

NameError: name 'X' is not defined

In [ ]:
X.drop(['color','clarity','cut'], axis=1, inplace=True)

In [ ]:
X.info()

## Scaling

In [ ]:
# Scaling Standard
scaler = StandardScaler()
scaled_data = scaler.fit_transform(X)
scaled_data

#MinMax Scaler
#scaler = MinMaxScaler()
#scaled_data = scaler.fit_transform(df_one_hot[['depth', 'table','carat']])
#scaled_data

# Robust Scaling
#scaler = RobustScaler()
#scaled_data = scaler.fit_transform(df_one_hot[['depth', 'table','carat']])
#scaled_data

In [ ]:
df_X=pd.DataFrame(scaled_data)
df_X

In [ ]:
df_X.transpose()

In [ ]:
%%time

# Model definition

#model = LinearRegression()
model = (RandomForestRegressor(bootstrap=True, random_state = 42))
#model = linear_model.Lasso()
#model = ElasticNet()
#model = Ridge()
#model = SVR()
#model = SGDRegressor()
#model = DecisionTreeRegressor()


hyperparameters = model.get_params()



print(type(model), '\n')
print('Model hyperparameters:', hyperparameters, '\n')

In [ ]:
%%time

# Model training

model.fit(df_X, y)
#y_pred = model.predict(y)

print('Model:', model, '\n')
print('Model hyperparameters:', hyperparameters, '\n')
#print('Model coefficients:', model.coef_, '\n')
#print('Ground truth target:', y_test, '\n')
#print('Ground truth target:', y_pred, '\n')

## Mediciones

In [ ]:
# Train and test split

X_train, X_test, y_train, y_test = train_test_split(df_X, y, test_size=0.2, random_state=42)
print(f"X_train: {X_train.shape}, X_test: {X_test.shape}, y_train: {y_train.shape}, y_test: {y_test.shape}")

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
# MSE calculation

mean_squared_error(y_test, y_pred)

In [ ]:
# RMSE calculation 

rmse = mean_squared_error(y_test, y_pred, squared=False)
rmse

In [ ]:
#Nota: 234

## Visualitation

In [ ]:
#plt.subplots(figsize = (10,8))
#sns.heatmap(df_X, annot = True, cmap = "Blues")
#plt.show()

## Kaggle

In [ ]:
# CSV diamonds_test Kaggle
df_K=pd.read_csv('./diamonds_test.csv')
df_K

In [ ]:
X_K = df_K[['depth', 'table','color', 'clarity','x','y','z','cut']]
X_K

In [ ]:
# One hot encoding
cat_cols = [ 'color','clarity', 'cut' ]
df_one_hot_K = pd.get_dummies(X_K, columns=cat_cols, drop_first=True)
df_one_hot_K

In [ ]:
# Scaling columnas numéricas
scaler = StandardScaler()
scaled_data_K = scaler.fit_transform(df_one_hot_K)
scaled_data_K

In [ ]:
df_X_K=pd.DataFrame(scaled_data_K)
df_X_K

In [ ]:
# Model predictions

#predictions = model.predict(df_Diamond_test)
y_pred = model.predict(df_X_K)

print(type(y_pred))

In [ ]:
y_pred

In [ ]:
df_predictions = pd.DataFrame(y_pred, columns=['price']).reset_index()
df_predictions

In [ ]:
df_predictions['id']=df_predictions.index
df_predictions

In [ ]:
df_predictions_d=df_predictions.drop('index', axis=1)
df_predictions_d

In [ ]:
df_predictions_d.to_csv('train.csv', index=False)

In [ ]:
# Note: 1405 (train 14)